{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'website/style.css'%}">
</head>
<body>
    <nav style="background-color: #80A1D4; background-clip: content-box; ">
        <ul style="display: flex; flex-direction: row; gap: 20px; list-style-type: none; justify-content: flex-end; margin: 20px; padding: 20px;">
            <li ><a href="#">Symptoms Checker</a></li>
            <li><a href="#">Medicine Delivery</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Pincode</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username</label>
		<input type="text" name="username" required><br><br>
        <label for="password">Password</label>
		<input type="password" name="password" required><br><br>
        <input type="submit" value="Submit">
    </form>
    <h1 style="text-align: center;"><a href="{% url 'signup' %}">Sign Up?</a></h1>
</body>
</html>